.about{
    position: relative;
}

.about-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.about-left{
    width: 550px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.about-left h2{
    font-size: 50px;
    color: #693519;
}

.about-left p{
    color: #707070;
    font-size: 20px;
}

.about-left button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #F9C06A;
    font-weight: bold;
}

.aboutBlast{
    position: absolute;
    bottom: 0;
}