header{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2{
  font-family: "Clicker Script", cursive;
  color: white;
  font-size: 35px;

}

nav ul{
    display: flex;
    gap: 60px;
}

.login-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-btn button{
    padding: 13px 20px;
    border-radius: 20px;
    background-color: #F9C06A;
    border: none;
    color: white;
    font-family: "Playfair Display", serif;
}

