.layout{
    width: 100%;
    height: 100vh;
    background-image: url('./assets/navbarBg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}