*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
  font-family: 'Inconsolata';
  color: white;
  font-size: 20px;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/font/Inconsolata_Condensed-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}